
*.pyc
*.tmp.py
/.vscode
*.txt
make_tests
/.codex
categories.json
/tests/event_lists/diff_data
src/make2_bots/o_bots/save.py
_start.py
*.sqlite3
monkey.py
*.old
*_backup
/.claude
**/old/**
src/make2_bots/ma_bots/year_or_typeo/work_2019_examples.jsonl
src/main_processers/event_lab_bot_backup.py
*.prof
profile.html
profile.json
src/make2_bots/jobs_bots/jobs_mainbot_example.py
