
*.pyc
*.tmp.py
/.vscode
*.txt
make_tests
/.codex
categories.json
/tests/event_lists/diff_data
src/make2_bots/o_bots/save.py
_start.py
*.sqlite3
monkey.py
*.old
*_backup
/.claude
src/make2_bots/ma_bots/dodo_bots/work_2019_examples.jsonl
**/old/**
src/make2_bots/ma_bots/dodo_bots/event2bot_dodo_backup.py
